/* Général */
html {
	scroll-behavior: smooth;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
	border-top: 8px solid #a10684;
}

	/* Header */

header {
    margin: 0;
    padding: 0;
	background-color: #ebe3ec;
}

#tittle-intro h1 {
	font-family: 'Courgette', cursive;
	color: #a10684;
	text-align: right;
	padding-top: 50px;
	margin-bottom: 50px;
	margin-right: 90px;
	letter-spacing: 10px;
}

#tittle-intro span .far {
	margin-left: -12px;
}

#tittle-intro .percent {
	font-size: 400%;
}

.text-intro p {
	margin-bottom: 18px;
	color: #5c340c;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
}

.text-intro span i {
	color: #a10684;
	font-size: 20px;
	text-align: center;
}

.crown i {
	font-size: 3rem;
	color: #FFD700;
}

	/* NAV-BAR */
.navbar {
    padding: 0px 15px;
    background-color: #f1f1f1;
    border-top: 1px solid #a10684;
    border-bottom: 1px solid #a10684;
}

#navbarCollapse a {
    color: #a10684!important;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;

}

#navbarCollapse .nav-link:hover {
    color: #ff3346!important;
}

#menu-deroulant a:hover{
    color: #ff3346!important;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant li {
    /* on place les liens du menu horizontalement */
    display: inline-block;
}

#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    border-bottom: solid;
    border-width: 1px;
}

#menu-deroulant ul li a {
    padding: 5px 8px;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f1f1f1; 
}

#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

	/* MAIN */
#main .container {
    max-width: 85%;
}

#main h2 {
	color: #5c340c;
	font-family: 'Parisienne', cursive;
	margin: 90px 0;
	font-size: 70px;
}

.imgTop img {
	width: 75%;
	margin: 0 auto;
}

#main1 .preTexte {
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 1.3rem;
	text-align: center;
}

.card {
	border-radius: 4px;
	background-color: #f1f1f1;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #a10684;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main2 h3 {
	font-family: 'Handlee', cursive;
	margin-bottom: 15px;
	color: #5c340c;
}

.ingredients {
	font-size: 1.2rem;
	margin-left: 35px;
}

.ingredients p {
	margin-bottom: 0;
	margin-left: 20px;
}

   /* social */
#social1 .center {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.social img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.icon {
	width: 65px;
	height: 65px;
	border-radius: 50px;
	margin: 30px;
	transition: all .5s;
}

.icon:nth-child(1) {
	color: #1877f2;
	filter: drop-shadow(0 0 3px #a10684);
}

.icon:nth-child(2) {
	color: #a10684;
	filter: drop-shadow(0 0 3px #1877f2);
}

.icon:nth-child(3) {
	color: #ff3346;
	filter: drop-shadow(0 0 3px #ff3346);
}

.icon:nth-child(1):hover {
	box-shadow: 0 0 0 6px #a10684;
}

.icon:nth-child(2):hover {
	box-shadow: 0 0 0 6px #1877f2;
}

.icon:nth-child(3):hover {
	box-shadow: 0 0 0 6px #ff3346;
}

#main3 h3 {
	font-family: 'Handlee', cursive;
	margin-bottom: 15px;
	color: #5c340c;
}

#main3 span i {
	font-size: 20px;
	color: #a10684;
	margin-right: 10px;
	margin-left: 3px;
}

#images3 {
	padding-top: 200px;
	width: 100%;
}

#images3 img {
	border: 3px solid #5c340c;
	border-radius: 4px;
	transition: 0.5s ease-in-out;
}

#images3 img:hover {
	border: 3px solid #a10684;
	box-shadow: rgba(0, 0, 0, 0.80) 0px 3px 25px 5px;
}

#images2 img {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#main4 .gras {
	text-align: center;
	margin: 20px 0 60px;
	font-family: 'Handlee', cursive;
	color: #5c340c;
	font-size: 1.8rem;
}

.gif {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    
}

#main4 .gif .halloween1 {
   width: 43%;
   height: auto;
   margin-left: 28%;
   display: flex;
   justify-content: center;
}

#main4 .gif .halloween2 {
    width: 36%;
    height: auto;
    border-radius: 100%;
    margin-left: 32%;
    margin-bottom: 4px;
    display: flex;
   justify-content: center;
}

#main4 .avatar img {
	border-radius: 100px;
	width: 40%;
	border: 2px solid #a10684;
    margin: 0 auto 12px;
    display: flex;
    justify-content: center;
}

    /* FORMULAIRE */
#formulaire {
	margin-top: 40px;
	margin-bottom: 20px;
}

form {
	max-width: 1100px;
	margin: 0 auto;
}

#formulaire .title {
	font-family: 'Handlee', cursive;
	color: #5c340c;
	font-size: 25px;
	margin-bottom: 20px;
}

#formulaire em {
	color: #ff0000;
}

#formulaire input {
	padding: 8px 0;
	background-color: #f1f1f1;
	border-radius: 3px;
	width: 100%;
	font-family: 'Arial';
	border: 1px solid;
}

#formulaire textarea {
	background-color: #f1f1f1;
	border-radius: 3px;
	border: 1px solid;
	width: 100%;
}

#formulaire #submit {
	margin-top: 8px;
	width: 100%;
	padding: 8px 0;
	border-radius: 3px;
	background-color: #f1f1f1;
}

#formulaire #submit:hover {
	background-color: #582900;
	color: #fff;
	transition: 0.4s ease-in-out;
}

#social .center {
	display: flex;
	justify-content: center;
	align-items: center;
}

    /* FOOTER */
.coul {
	color: #582900;
}

.footer i {
    font-size: 40px;
    margin: 20px 0 20px;
    color: #5c340c;
    height: 30px;
}

.footer i:hover {
    font-size: 50px;
    transition: 0.3s ease-in-out;
    color: #a10684;
}
