/* Général */
html {
	scroll-behavior: smooth;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

body { 
	animation: fadeInAnimation ease 3s; 
	animation-fill-mode: forwards; 
	animation-iteration-count: 1; 
} 
@keyframes fadeInAnimation { 
	0% 
	{ 
	opacity: 0; 
	} 
	100% { 
	opacity: 1; 
	} 
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
    border-top: 8px solid #a10684;
}

	/* Header */
#logo h1 {
	text-align: center;
	padding-bottom: 30px;
	margin: 0;
	background-color: #ece8ec;
	border-bottom: 1px solid #c5c5c6;
}

.text-3d {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 500;
	color: #a10684;
	letter-spacing: 10px;
	text-shadow:
		1px 1px #8b8a8a,
		1px 2px #8b8a8a,
		1px 3px #8b8a8a,
		1px 4px #8b8a8a,
		1px 5px #8b8a8a,
		1px 6px #8b8a8a,
		1px 7px #8b8a8a,
		1px 8px #8b8a8a,
		1px 9px #8b8a8a,
		1px 10px 1px #8b8a8a,
	1px 18px 6px #2d2d2d66,
	1px 22px 10px #2d2d2d66,
	1px 25px 35px #2d2d2d66,
	1px 30px 60px #2d2d2d66;
}

/* NAV-BAR */
.nav-icon img {
	width: 70px;
	height: auto;
	transform: rotate(-12deg) translateX(5px);
}

.navbar {
	padding: 0px 15px;
	background-color: #f1f1f1;
	border-top: 1px solid #a10684;
	border-bottom: 1px solid #a10684;
}

#navbarCollapse a {
	color: #a10684!important;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto;
}

#navbarCollapse .nav-link:hover {
	color: #ff3346!important;
}

#menu-deroulant a:hover{
	color: #ff3346!important;
}

#menu-deroulant, #menu-deroulant ul {
	padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant li {
	/* on place les liens du menu horizontalement */
	display: inline-block;
}

#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    border-bottom: solid;
    border-width: 1px;
}

#menu-deroulant ul li a {
	padding: 5px 8px;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
	text-align: left;
	background-color: #f1f1f1; 
}

#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

    /* MAIN TITRE*/
#main .container {
	max-width: 85%;
}

#main h2 {
	color: #5c340c;
	font-family: 'Parisienne', cursive;
	margin: 90px 0;
	font-size: 60px;
}

.imgTop img {
	width: 60%;
	margin: 0 auto 50px;
	border: 1px solid #a10684;
}

    /* MAIN TEXTE*/
#main1 .preTexte {
	margin-bottom: 40px;
	font-size: 1.3rem;
	text-align: center;
}

.ingredients {
	font-size: 1.2rem;
	margin-left: 35px;
}

.ingredients p {
	margin-bottom: 0;
	margin-left: 20px;
}

.card {
	border-radius: 4px;
	background-color: #f1f1f1;
	border: 1px solid #a10684;
}

#main2 h3 {
	font-family: 'Handlee', cursive;
	margin-bottom: 15px;
	color: #5c340c;
}

#main3 h3 {
	font-family: 'Handlee', cursive;
	margin-bottom: 15px;
	color: #5c340c;
}

#main3 span i {
	font-size: 20px;
	color: #a10684;
	margin-right: 10px;
	margin-left: 3px;
}

#images1 img {
	width: 60%;
	margin: 25px auto;
	border: 1px solid #a10684;
}

#images2 img {
	width: 60%;
	margin: 40px auto;
	border: 1px solid #a10684;
}

#main4 {
	margin: 0;
}

#main4 .about {
	font-size: 1.3rem;
	text-align: center;
	line-height: 40px;
}

.icon {
	width: 65px;
	height: 65px;
	border-radius: 50px;
	margin: 30px;
	transition: all .5s;
}

#social .center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.icon {
	width: 65px;
	height: 65px;
	border-radius: 50px;
	margin: 10px 20px 20px;
	transition: all .5s;
}

.icon:nth-child(1) {
	color: #1877f2;
	filter: drop-shadow(0 0 3px #a10684);
}

.icon:nth-child(2) {
	color: #a10684;
	filter: drop-shadow(0 0 3px #1877f2);
}

.icon:nth-child(3) {
	color: #ff3346;
	filter: drop-shadow(0 0 3px #ff3346);
}

.icon:nth-child(1):hover {
	box-shadow: 0 0 0 6px #a10684;
}

.icon:nth-child(2):hover {
	box-shadow: 0 0 0 6px #1877f2;
}

.icon:nth-child(3):hover {
	box-shadow: 0 0 0 6px #ff3346;
}

.img_tarte {
	width: 80%;
    /*margin: 0 auto 60px;*/
	border: 1px solid #a10684;
}

#main4 .about-card {
	width: 65%;
	margin: 0 auto;
}

#main4 .gras {
	text-align: center;
	margin-top: 20px;
	font-family: 'Handlee', cursive;
	color: #5c340c;
	font-size: 1.5rem;
}

#main4 .avatar img {
	border: 2px solid #a10684;
	width: 15%;
	height: auto;
	margin: 30px auto 20px;
    display: flex;
    justify-content: center;
	overflow: hidden;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
	background-size: cover;
    animation: blob 4s linear infinite;
}

@keyframes blob {
    0%, 100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

#main4 .lemon i {
	font-size: 2.5rem;
	color: #FFD700;
}

    /* FORMULAIRE */
form {
	max-width: 1000px;
	margin: 0 auto 40px;
}

.titre-form h3 {
	font-family: 'Handlee', cursive;
	text-align: center;
	margin: 40px auto 0;
	color: #5c340c;
}

.form-goup input {
	padding: 5px 0;
	background-color: #f1f1f1;
	border-radius: 3px;
	width: 100%;
	font-family: 'Arial';
	border: 1px solid;
}

.form-goup #submit {
	margin-top: 24px;
	width: 100%;
	padding: 5px 0;
	border-radius: 3px;
	background-color: #f1f1f1;
	transition: 0.5s ease-in-out;
}

.form-goup #submit:hover {
	background-color: #ebd5eb;
	color: #000;
}

form .info {
	text-align: center;
	font-size: .8rem;
	color: #616161;
}
	
	/* FOOTER */
.footer {
	padding: 10px 0 0;
	text-align: center;
}

.section-title {
	margin-bottom: 2px;
}

.section-title a {
	text-decoration: none;
}

.coul {
	color: #582900;
}  

.text1 {
	margin-bottom: 3px;
	font-size: .8rem;
	color: #616161;
}

	/* VERSION DESKTOP */
@media screen and (min-width:1025px) {
	.container {
		max-width: 80%;
		margin: 0 auto;
	}

	aside {
		display: inline-block;
		vertical-align: center;
		width: 30%;
	}
}



